.container-hero {
    position: relative;
    overflow: hidden;
}

.hero {
    padding-bottom: 3rem;
}

.hero--image-set {
    position: relative;
    width: 80%;
}

.hero--bg-image {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

.hero--image {
    filter: drop-shadow(1px 7px 0 #FFF);
    width: 100%;
    box-sizing: content-box;
    animation: pulse 10s infinite;
}

.hero--motto {
    z-index: 1;
}

.hero--motto h2 {
    color: $c-gray-1;
    padding-top: 1rem;
    text-transform: uppercase;
}

.peaks-hero {
    top: -3rem;
    position: relative;
    width: 100%;

}

.hero--star-1,
.hero--star-2,
.hero--sat,
.hero--sputnik {
    position: absolute;
    height: auto;
    z-index: 0;
    display: none;
}