.small-teasers {
    color: $c-gray-1;
    text-align: center;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small-teaser:first-child {
    margin-top: -6rem;
}

.small-teaser--image-1,
.small-teaser--image-2,
.small-teaser--image-3 {
    border-radius: 50%;
    width: 11rem;
    height: auto;
    padding: 1rem;

}

.small-teaser--image-1 {
    background: $color-bg-image-1;
}

.small-teaser--image-2 {
    background: $color-bg-image-2;
}

.small-teaser--image-3 {
    background: $color-bg-image-3;
}

.small-teaser p {
    color: $c-gray-1;
}