/* ****************************
*         FONTS               *
******************************/

$p-font: 'Montserrat';
$nav-font: 'DIN Condensed';
$h-font: 'Barlow Condensed';

/* ****************************
*         COLORS              *
******************************/

$c-text-light: #d7e6fc;

$c-gray-1: #424242;
$c-gray-2: #7D7D7D;
$c-gray-3: #C1C1C1;
$c-gray-4: #DCDCDC;
$c-gray-5: #EDEDED;

$c-primary: #16244C;
$c-blog-background: #161924;
$c-secondary: #2D3A5E;
$c-tertiary: #5C2C69;
$c-fourth: #A52769;
$c-fifth: #CE6807;
$c-sixth: #191F2F;

$c-background-light: #DDDABA;

$nav-background: #1E222F;
$c-shade-1: #0F1935;
$c-shade-2: #0B1226;
$c-shade-3: #070B17;
$c-shade-4: #04070F;

$c-tint-1: #455070;
$c-tint-2: #5C6682;
$c-tint-3: #8B92A6;
$c-tint-4: #B9BDC9;
$c-tint-5: #E8E9ED;

/* ****************************
*   SMALL TEASERS COLORS     *
******************************/
$color-bg-image-1: #289AD1;
$color-bg-image-2: #D18528;
$color-bg-image-3: #D12828;

$color-bright-1: #B9E8FF;
$color-bright-2: #F4C892;
$color-bright-3: #FFA9A9;

$color-dark-1: #163661;
$color-dark-2: #3F2205;
$color-dark-3: #600707;
