@import 'base/reset';

@import 'abstract/animations';
@import 'abstract/mixins';
@import 'abstract/variables';

@import 'base/grid';
@import 'base/typography';

@import 'components/article-form';
@import 'components/categories-table';
@import 'components/small-teaser';
@import 'components/about-me-card';
@import 'components/buttons';
@import 'components/hero';
@import 'components/modal';
@import 'components/newsletter-card';
@import 'components/subscribe';

@import 'layout/footer';
@import 'layout/header';
@import 'layout/navigation';

@import 'vendors/navigator';
@import 'vendors/prism';

@import 'pages/admin';
@import 'pages/contact';
@import 'pages/home';
@import 'pages/login';

@import 'base/queries';

@include spacingGenerator(margin, top, t);
@include spacingGenerator(margin, left, s);
@include spacingGenerator(margin, right, e);
@include spacingGenerator(margin, bottom, b);

@include spacingGenerator(padding, top, t);
@include spacingGenerator(padding, left, s);
@include spacingGenerator(padding, right, e);
@include spacingGenerator(padding, bottom, b);

body {
  background-color: $c-blog-background;
}

.txt-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.p-relative {
  position: relative;
}

.peaks-footer {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.rotate-slow {
  animation: rotate-slow;
  animation-duration: 300s;
  animation-iteration-count: infinite;
}
figure {
  margin: 1rem 0 ;
  padding: 0;
}